@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Flash</h1>
    <p class="lead">Welcome to Flash</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Edit the web.config to point to the authentication server (default is test).
        </p>
    </div>
    <div class="col-md-4">
        <h2>Authentication</h2>
        <p>Users must register themselves via the Flash Authorisation server which will validate the login.</p>
        <p>Once that is done and Administrator will allocate the claims your application requires.</p>
    </div>
</div>